.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    /* text-align: left; */
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    text-align: center;

}

form{
    /* text-align-last: center; */
    margin-right: 20px;

}


.search-field{
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    }

    .location{
        background:#dddddd;
        width: 200px;
        height: 32px;
        margin: 10px;
    }


.search-btn{

    height: 50px;
    width: 150px;

    background: #509a7a;
    border: none;
    color: #000;
    border-radius: 25px;

}